  <form action="/projects" id="new_project" method="post">
  
  <div class="field">
    <label for="project_name">Name</label><br />
    <input id="project_name" name="project[name]" type="text" />
  </div>
 
  <div class="actions">
    <input name="commit" type="submit" value="save article" />
  </div>
 
</form>
